<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/slide.css">
	<title>slide-demo</title>
</head>
<body>
	<div id="img_0" class="wrapper-img">
		<div id="img_01" class="item img img-1"></div>
		<div id="img_01" class="item img img-2"></div>
		<div id="img_01" class="item img img-3"></div>
		<div id="img_01" class="item img img-4"></div>
		<div id="img_01" class="item img img-5"></div>
	</div>
	<script src="script-slide.js"></script>
</body>
</html>